/*Menu de cores para utilizar no projeto*/

:root {
	--rosa-claro: #f6a9c79a;
	--rosa-escuro: #f797d2;
	--azul-claro: #a7d5f8e8;
	--azul-escuro: #316abc;
}

html {
	scroll-behavior: smooth;
	button {
		background-color: #007bff !important;
		color: white !important;
		border: none !important;
		&:hover {
			background-color: var(--rosa-escuro) !important;
			color: var(--azul-escuro) !important;
		}
	}
	body::-webkit-scrollbar {
		width: 9px;
	}

	body::-webkit-scrollbar-track {
		background: (--cor-fundo);
	}

	body::-webkit-scrollbar-thumb {
		background-color: var(--rosa-escuro);
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border: 1px solid var(--azul-claro);
	}
	body {
		border: 1px solid rgb(17, 255, 0);

		.carousel-item {
			height: 400px;
		}

		header {
			position: sticky;
			top: 0;
			z-index: 999;
		}

		main {
			section {
				scroll-margin-top: 76px;
			}

			.page-container {
				max-width: 1270px;
				margin: 0 auto;
				background-color: #ffbde676;
				padding: 4rem 2.5rem;
			}

			#home {
				height: 100%;
			}

			#quem-somos {
				border: 1px solid yellow;
			}

			#projetos {
				border: 1px solid red;
			}

			#projetos-circulos {
				.page-container {
					padding: 2rem 0;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 30px;
				}

				.icone-circular {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #f0f0f0;
					transition: transform 0.2s ease;
				}

				.icone-circular img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.icone-circular:hover {
					transform: scale(1.1);
				}
			}

			@media (max-width: 600px) {
				#projetos-circulos {
					.page-container {
						gap: 20px;
						padding: 1rem;
						flex-direction: row;
					}

					.icone-circular {
						width: 70px;
						height: 70px;
					}
				}
			}

			#torneios {
				border: 1px solid yellow;
			}

			#premiacoes {
				border: 1px solid green;
			}

			#programacao {
				border: 1px solid blue;
			}

			#contato {
				width: 100%;
				position: relative;

				iframe {
					width: 100%;
					height: 550px;
				}

				.contato-container {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					position: absolute;
					top: 0;

					.page-container {
						padding: 25px;
						display: flex;
						flex-direction: column;
						align-items: start;
						background-color: white;
						border-radius: 10px;
						margin-top: 50px;
						justify-content: center;
						align-items: center;
						box-shadow: 10px 13px 25px -12px rgba(105, 98, 105, 1);
						width: 1270px;

						.container-itens {
							display: flex;
							flex-direction: column;

							h2 {
								color: var(--vinho);
								font-weight: bolder;
							}

							.container-endereco {
								display: flex;

								.image-vasco-coutinho {
									border-radius: 4px;
									filter: drop-shadow(3px 3px 1px #7d7d7e);
								}

								/* form {
									width: 100%;
									padding: 30px 0;

									textarea {
										resize: none;
									}

									button {
										background-color: var(--rosa);
										border: none;

										&:hover {
											background-color: var(--vinho);
										}
									}
								} */
								.detalhes-endereco {
									width: 100%;
									padding: 35px;
									display: flex;
									flex-direction: column;
									justify-content: center;
									gap: 16px;

									.dado-endereco {
										display: flex;
										flex-direction: column;
										justify-content: center;
										gap: 8px;

										.contato {
											display: flex;
											flex-direction: column;
											gap: 4px;
										}

										h5 {
											margin: 0;
											padding: 0;
											font-size: 1em;
											color: var(--vinho);
											font-weight: bolder;
											text-wrap: wrap;
										}

										p {
											margin: 0;
											padding: 0;
											text-wrap: wrap;
											text-align: justify;
										}
									}
								}
							}
						}
					}
				}
			}
			/* ===================================================
						media query contato
			=================================================== */
			@media (max-width: 600px) {
				#contato {
					.contato-container {
						.page-container {
							max-width: 500px;
							margin: 10px;
							justify-content: center;
							align-items: center;
							box-shadow: 10px 13px 25px -12px rgba(105, 98, 105, 1);

							.container-itens {
								display: flex;
								flex-direction: column;
								h2 {
									color: var(--vinho);
									font-weight: bolder;
									font-size: 1.5rem;
								}

								.container-endereco {
									display: flex;
									flex-direction: column;
									form {
										padding: 5px 0;

										button {
											width: 100%;
											margin: 8px;
											margin-bottom: 1px;
										}
									}
									.detalhes-endereco {
										width: 100%;
										padding: 10px;
										gap: 5px;
										flex-wrap: nowrap;
										.dado-endereco {
											display: flex;
											flex-direction: column;
											justify-content: center;
											align-items: center;
											h5 {
												display: none;
											}

											p {
												padding: 5px;
												text-wrap: wrap;
												font-size: 14px;
												text-align: center;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			/* Responsivo */
			@media (max-width: 768px) {
				.page-container {
					flex-direction: column;
				}
			}
		}
	}
}
