/*Menu de cores para utilizar no projeto*/

:root {
	--rosa-claro: #f6a9c79a;
	--rosa-escuro: #f797d2;
	--azul-claro: #a7d5f8e8;
	--azul-escuro: #316bbc8c;
	--cor-fundo: #316bbc8c;
}

html {
	scroll-behavior: smooth;

	button {
		outline: none !important;
		background-color: var(--azul-escuro) !important;
		color: white !important;
		border: none !important;
		&:hover {
			background-color: var(--rosa-escuro) !important;
		}

		&:active {
			background-color: var(--rosa-claro) !important;
		}
	}

	body::-webkit-scrollbar {
		width: 9px;
	}

	body::-webkit-scrollbar-track {
		background: (--cor-fundo);
	}

	body::-webkit-scrollbar-thumb {
		background-color: var(--rosa-escuro);
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border: 1px solid var(--azul-claro);
	}

	body {
		.carousel-item {
			height: 400px;
		}

		header {
			position: sticky;
			top: 0;
			z-index: 999;

			.nav-top {
				background-color: var(--rosa-escuro);
				height: 24px;
			}
		}

		main {
			section {
				scroll-margin-top: 100px;
			}

			.page-container {
				max-width: 1270px;
				margin: 0 auto;
				background-color: #ffbde676;
				padding: 4rem 2.5rem;
			}

			/* Media query page-container */
			@media (max-width: 768px) {
				.page-container {
					flex-direction: column;
				}
			}

			/*=======================================
					pagina inicial do site
			=======================================*/

			#home {
				height: 100%;
			}

			/* =======================================
						Section quem somos
			=========================================== */

			#quem-somos {
				border: 1px solid yellow;
			}

			/* =======================================
						Section Projetos
			=========================================== */

			#projetos {
				border: 1px solid red;
			}

			/* =======================================
						Section Projetos-circulos
			=========================================== */

			#projetos-circulos {
				.page-container {
					padding: 2rem 0;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					gap: 30px;
				}

				.icone-circular {
					width: 150px;
					height: 150px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #f0f0f0;
					transition: transform 0.2s ease;
				}

				.icone-circular img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.icone-circular:hover {
					transform: scale(1.1);
				}
			}

			/* =======================================
						Section Torneios
			=========================================== */

			#torneios {
				border: 1px solid yellow;
			}

			/* =======================================
						Section Premiações
			=========================================== */

			#premiacoes {
				border: 1px solid green;
			}

			/* =======================================
						Section Programação
			=========================================== */

			#programacao {
				border: 1px solid blue;
			}

			/* =======================================
						Section Contato
			=========================================== */

			#contato {
				width: 100%;
				position: relative;

				iframe {
					width: 100%;
					height: 550px;
				}

				.contato-container {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					position: absolute;
					top: 0;

					.page-container {
						padding: 25px;
						display: flex;
						flex-direction: column;
						align-items: start;
						background-color: white;
						border-radius: 10px;
						margin-top: 50px;
						justify-content: center;
						align-items: center;
						box-shadow: 10px 13px 25px -12px rgba(105, 98, 105, 1);
						width: 1270px;

						.container-itens {
							display: flex;
							flex-direction: column;

							h2 {
								color: var(--vinho);
								font-weight: bolder;
							}

							.container-endereco {
								display: flex;

								.image-vasco-coutinho {
									border-radius: 4px;
									filter: drop-shadow(3px 3px 1px #7d7d7e);
								}

								.detalhes-endereco {
									width: 100%;
									padding: 35px;
									display: flex;
									flex-direction: column;
									justify-content: center;
									gap: 16px;

									.dado-endereco {
										display: flex;
										flex-direction: column;
										justify-content: center;
										gap: 8px;

										.contato {
											display: flex;
											flex-direction: column;
											gap: 4px;
										}

										h5 {
											margin: 0;
											padding: 0;
											font-size: 1em;
											color: var(--vinho);
											font-weight: bolder;
											text-wrap: wrap;
										}

										p {
											margin: 0;
											padding: 0;
											text-wrap: wrap;
											text-align: justify;
										}
									}
								}
							}
						}
					}
				}
			}
			/* ===================================================
						Media query
			=================================================== */

			/* Medium devices (tablets, less than 992px) */
			@media (max-width: 992px) {
				/* section {
					scroll-margin-top: 100px;
				} */

				.carousel-item {
					height: auto;
				}

				#projetos-circulos {
					.page-container {
						gap: 4px;
						padding: 1.5rem;
						flex-direction: row;
					}
					.icone-circular {
						width: 80px;
						height: 80px;
					}
				}

				#contato {
					iframe {
						display: none;
					}

					.contato-container {
						position: relative;

						.page-container {
							max-width: 900px;
							margin: 10px;
							box-shadow: none;

							.container-itens {
								width: 100%;
								h2 {
									font-size: 2rem;
									margin-bottom: 30px;
								}

								.container-endereco {
									flex-direction: column;
									align-items: center;
									gap: 10px;
									width: 80vw;
									margin: auto;

									.image-vasco-coutinho {
										width: 80vw;
										height: 40vh;
									}

									.detalhes-endereco {
										padding: 10px;
										gap: 5px;
										flex-wrap: nowrap;
										border-radius: 4px;
										box-shadow: 1px 3px 3px 1px #7d7d7eab;
										.dado-endereco {
											align-items: start;
											h5 {
												display: none;
											}

											p {
												padding: 5px;
												text-wrap: wrap;
												font-size: 22px;
												text-align: start;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			/* Small devices (landscape phones, less than 768px) */
			@media (max-width: 768px) {
				#projetos-circulos {
					.page-container {
						gap: 4px;
						padding: 1.5rem;
						flex-direction: row;
					}
					.icone-circular {
						width: 80px;
						height: 80px;
					}
				}

				#contato {
					.contato-container {
						.page-container {
							margin: 10px;
							.container-itens {
								h2 {
									font-size: 2rem;
								}

								.container-endereco {
									flex-direction: column;
									align-items: center;

									.image-vasco-coutinho {
										width: 80vw;
									}

									.detalhes-endereco {
										padding: 10px;
										gap: 5px;
										flex-wrap: nowrap;
										.dado-endereco {
											align-items: start;
											h5 {
												display: none;
											}

											p {
												padding: 5px;
												text-wrap: wrap;
												font-size: 22px;
												text-align: start;

												img {
													width: 30px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			/* Small devices (landscape phones, 576px and up) */
			@media (max-width: 576px) {
				#projetos-circulos {
					.page-container {
						gap: 4px;
						padding: 1rem;
						flex-direction: row;
					}
					.icone-circular {
						width: 60px;
						height: 60px;
					}
				}

				#contato {
					.contato-container {
						.page-container {
							max-width: 500px;
							margin: 10px;
							.container-itens {
								h2 {
									font-size: 1.5rem;
								}

								.container-endereco {
									flex-direction: column;
									width: 90vw;

									.image-vasco-coutinho {
										width: 90vw;
									}

									.detalhes-endereco {
										padding: 10px;
										gap: 5px;
										flex-wrap: nowrap;
										.dado-endereco {
											align-items: start;
											h5 {
												display: none;
											}

											p {
												padding: 5px;
												font-size: 14px;
												text-align: start;

												img {
													width: 22px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
